.display-2{
  color: white;
}

#cards {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 100%;
}

#cards img {
  display: block;
  border-radius: 25px;
  max-width: 85%;
  // max-height: 30%;
  height: auto;
  margin: 20px auto;
}

#Nav {
  background-color: #A6A867;
  // margin-bottom: 10px;
  // width: 100%;
  margin-left: -10px;
  margin-right: -20px;
  margin-top: -10px;
}


#logo-img {
  margin : 0px;
  margin-top: 10px;
}

#movie-bar {
  margin-top: 10px;
}

// .filler {
//   background-color: #ee1515;
//   width: 100%;
//   height: 100px;
//   line-height: 50px;
//   margin-bottom: 20px;
// }

