.display-2{
  color: white;
}

#cards {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 40rem;
}

#Nav {
  background-color: #A6A867;
  // margin: 0rem;
  // padding-top: 0px;
}

#logo-img {
  margin : 0px;
  margin-top: 10px;
}

