.registration-view {
  background-color: #000500;
  border: solid #A6A867 2px;
  border-radius: 15px;
  padding: 50px;
  color: white;
}

.registration-form {
  padding-top: 30px;
}

.registration-form__label-tips {
  font-style: italic;
  font-size: 12px;
  color: gray;
  text-align: right;
}

.registration-form__line {
  margin-top: 10px;
}

#register-button {
  margin-top: 20px;
  background-color: #E3DC95;
  border: solid #A6A867 2px;
  color: black;
  transition-duration: 0.5s;
}

#register-button:hover {
  background-color: #A6A867; 
  color: white;
}
